@charset "UTF-8";

body {
	margin: 0px;
}

.section1 {
	margin-top: 100px;
	width: 100%;
	height: 600px;
}

.section1 .s1-div1 .s1-d1-img {
	float: left;
	margin-left: 150px;
}

.section1 .s1-div1 .s1-d1-img img {
	width: 500px;
	height: 500px;
}

.section1 .s1-div1 .info {
	width: 35%;
	height: 500px;
	float: left;
	margin-left: 50px;
	margin-top: 80px;
}

.section1 .s1-div1 .info .info-title {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.section1 .s1-div1 .info .info-title p {
	text-align: left;
	font-size: 20px;
	line-height: 30px;
}

.section1 .s1-div1 .info .info-title h1, h5, span {
	color: #528B8B;
	font-weight: bold;
}

.section1 .s1-div1 .info .info-title h1 {
	font-size: 30px;
}

.section2 {
	width: 100%;
	height: 670px;
	background-color: #528B8B;
}

.section2 .s2-div1 .info {
	width: 30%;
	height: 400px;
	float: left;
	margin-left: 150px;
	margin-top: 120px;
	margin-left: 200px;
}

.section2 .s2-div1 .img {
	float: left;
	margin-top: 80px;
	margin-left: 100px;
}

.section2 .s2-div1 .img img {
	width: 500px;
	height: 500px;
	border-radius: 500px;
}

.section2 .s2-div1 .info {
	display: inline-block;
	text-align: center;
	color: white;
}

.section2 .s2-div1 .info p {
	text-align: left;
	font-size: 20px;
	line-height: 30px;
}

.section2 .s2-div1 .info h1 {
	font-size: 30px;
	color: white;
}

.section3 {
	width: 100%;
	height: 680px;
}

.section3 .s3-div1 .s3-d1-img {
	width: 810px;
	height: 660px;
	float: left;
	margin-left: 40px;
}

.section3 .s3-div1 .info {
	width: 500px;
	height: 660px;
	margin-left: 30px;
	float: left;
	text-align: center;
}

.section3 .s3-div1 .info h2, p {
	text-align: left;
}

.section3 .s3-div1 .info p {
	font-size: 20px;
	line-height: 28px;
}

.section3 .s3-div1 .info h2, h1 {
	color: #528B8B;
}

.section3 .s3-div1 .info h1 {
	color: #528B8B;
	font-size: 36px;
}

.section3 .s3-div1 .s3-d1-img img {
	width: 800px;
	height: 600px;
}

.session4 {
	margin-top: 60px;
	background-color: #99CCCC;
	width: 100%;
	height: 1100px;
	padding-top: 10px;
}

.session4 .s4-d1-title h2 {
	margin-left: 25%;
	margin-top: 50px;
}

.session4 .s4-content {
	padding-top: 40px;
	padding-left: 60px;
}

.session4 .s4-content a img {
	width: 200px;
	height: 200px;
	border: 2px solid;
	border-radius: 100px;
	box-sizing: border-box;
}

.session4 .s4-content a img:hover {
	cursor: pointer;
	border: 10px solid #5F9EA0;
	transition: 0.3s ease-in-out;
}

.session4 .s4-s4content-pest {
	float: left;
	margin-right: 80px;
	margin-top: 40px;
}

.session4 .s4-s4content-pest h4 {
	margin-top: 10px;
	margin-left: 70px;
}

.section5 {
	width: 100%;
	height: 680px;
	margin-top: 80px;
}

.section5 .s5-d1-image img {
	width: 660px;
	height: 600px;
}

.section5 .s5-d1-title {
	float: left;
	margin-left: 260px;
	margin-top: 100px;
}

.section5 .s5-d1-title h2 span {
	color: #528B8B;
}

.section5 .s5-d1-title h2 {
	line-height: 40px;
}

.section5 .s5-d1-title input {
	width: 200px;
	height: 40px;
	border-radius: 10px;
	background-color: #528B8B;
	color: white;
	border: 1px solid #333366;
	cursor: pointer;
}

.section5 .s5-d1-title input:hover {
	font-size: 17px;
}